using System;
using System.IO;
using System.Collections.Generic;
using System.Text;

public class ${ClassName} {
	public ${Method.ReturnType} ${Method.Name}(${Method.Params}) {
		return ${Method.ReturnType;zeroval};
	}

${CutBegin}
${<TestCode}
${CutEnd}
}
