import java.io.*;
import java.util.*;

public class ${ClassName} {
	public ${Method.ReturnType} ${Method.Name}(${Method.Params}) {
		return ${Method.ReturnType;zeroval};
	}

${CutBegin}
${<TestCode}
${CutEnd}
}
