#include <bits/stdc++.h>
using namespace std;
#define ll long long
#define FT(i,f,t) for(int i=f;i<=t;++i)
#define TF(i,t,f) for(int i=t;i>=f;--i)
#define REP(i,n) for(int i=0;i<n;++i)
#define MM(a,v) memset(a,v,sizeof(a))
#define ITR(it,ct) for(auto it=ct.begin();it!=ct.end();++it)
#define MOD 1000000007

struct ${ClassName} {
    ${Method.ReturnType} ${Method.Name}(${Method.Params}) {
        return ${Method.ReturnType;zeroval};
    }
};

${CutBegin}
${<TestCode}
${CutEnd}
