# -*- coding: utf-8 -*-
import math,string,itertools,fractions,heapq,collections,re,array,bisect

class ${ClassName}:
    def ${Method.Name}(self, ${Method.Params}):
        return ${Method.ReturnType;zeroval}

${CutBegin}
${<TestCode}
${CutEnd}
