body {
    /* font color */
    color: #d9d9d9;
    /* background color */
    background-color: #0c0c0c;
}
.section .section-title {
    /* title color */
    color: #f8f8f8;
}
li.testcase .data {
    /* highlight color */
    background: #191919;
}
