<!DOCTYPE html>

<html>
<head>
    <title>TopCoder ${Contest.Name} - ${Problem.Score}: ${Problem.Name}</title>
    ${if Options.favIcon}
        <link type="image/x-icon" rel="shortcut icon" href="${Options.favIcon}"/>
    ${end}
    <meta charset="utf-8" />

    <style type="text/css">
        ${Dependencies.problem-desc-styles.Output}
    </style>

    ${if Options.customStyleSheet}
    <link href="${Options.customStyleSheet}" rel="stylesheet" type="text/css" />
    ${else}
    <style type="text/css">
        /* color scheme */
        ${if Options.colorThemeBlack }
            body { color: white; background-color: black; }
            .section .section-title { color: white; }
            ol.testcases > li:before { border-color: #181818; color: white; background: #101010; }
            li.testcase .data { background: #050505; }
        ${else}${if Options.colorThemeBlue }
            body { color: white; background-color: #001B35; }
            .section .section-title { color: white; }
            ol.testcases > li:before { border-color: #88F; color: white; }
            li.testcase .data { background: #001930;  }
        ${else}${if Options.colorThemeLowContrast }
            body { color: #CCCCCC; background-color: #333333; }
            .section .section-title { color: white; }
            ol.testcases > li:before { border-color: #888; color: #CCCCCC; }
            li.testcase .data { background: #303030; }
        ${else}
            body { color: #333333; background-color: white; }
            .section .section-title { color: black; }
            ol.testcases > li:before { border-color: #ddd; color: grey; }
            li.testcase .data { background: #eee; }
        ${end}${end}${end}
        
        ${if Options.resizeImages}
            img {
                float: none;
                display: block;
                width: ${Options.resizeImages};
                height: auto;
                margin: 0.615em;
                border: 0px solid #ccc;
            }
        ${end}

        ${if Options.showVariableNames}
        .variable .name .data {
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
            padding: 0.2em 0em 0.2em 1em;
        }
        .variable .value .data {
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            padding: 0.2em 1em 0.2em 0.5em;
        }
        ${else}.variable .value .data, ${end}
        .testcase-output .data {
            border-radius: 0.5em;
            padding: 0.2em 1em 0.2em 1em;
        }
        ${if !Options.highlightData}
        .data {
            background: inherit !important;
        }
        ${end}

        
        ${if !Options.showVariableNames}.variable .name,${end}
        ${if !Options.showDefinition}#definition,${end}
        .hideit {
            visibility: hidden;
            position: absolute;
        }
        ${if Options.outputPrefix}
        .testcase-output .value:before {
            content: "${Options.outputPrefix}";
        }
        ${end}
    </style>
    ${end}

</head>

<body>
    <!--<h1 class="heading">
        ${if Contest.Div}Div${Contest.Div} ${end}${Problem.Score}: ${Problem.Name}
    </h1>-->
    <h1 class="heading">
        <span id='contest-name'>${Contest.Name}</span>
        ${if Contest.Div}<span id='contest-division'>${Contest.Div}</span>${end}
        <span id='problem-score'>${Problem.Score}</span>
        <span id='problem-name'>${Problem.Name}</span>
    </h1>

    <hr />

    <!-- Problem Statement -->
    <div class="section">
        <h2 class="section-title">Problem Statement</h2>
        <div class="problem-intro">
            ${Problem.Description.Intro}
        </div>
    </div>
    
    <!-- Problem definition -->
    <div class="section" id="definition">
        <h2 class="section-title">Definition</h2>
        <div class="problem-definition">
            <ul class="problem-definition-lines">
                <li class="definition-line" id='class-line'>
                    <span class='definition-name'>Class</span>
                    <span class='definition-value'>${Problem.Name}</span>
                </li>
                <li class="definition-line" id='method-line'>
                    <span class='definition-name'>Method</span>
                    <span class='definition-value'>${Method.Name}</span>
                </li>
                <li class="definition-line" id='parameters-line'>
                    <span class='definition-name'>Parameters</span>
                    <span class='definition-value'>
                    ${foreach Method.Params p , }
                        ${if Options.forceDefLanguage}
                            ${p.Type;seq(html($Options.forceDefLanguage))}
                        ${else}
                            ${p.Type;seq(#, html)}
                        ${end}
                    ${end}
                    </span>
                </li>
                <li class="definition-line" id='returns-line'>
                    <span class='definition-name'>Returns</span>
                    <span class='definition-value'>
                        ${if Options.forceDefLanguage}
                            ${Method.ReturnType;seq(html($Options.forceDefLanguage))}
                        ${else}
                            ${Method.ReturnType;seq(#, html)}
                        ${end}
                    </span>
                </li>
                <li class="definition-line" id='signature-line'>
                    <span class='definition-name'>Method signature</span>
                    <span class='definition-value'>
                        ${if Options.forceDefLanguage}
                            ${Method;seq(html($Options.forceDefLanguage))}
                        ${else}
                            ${Method;seq(#, html)}
                        ${end}
                    </span>
                </li>
            </ul>
            <div class="problem-definition-public-tip">(be sure your method is public)</div>
        </div>        
    </div>

    <!-- Limits -->
    <div class="section">
        <h2 class="section-title">Limits</h2>
        <div class='problem-limits'>
            <ul class="limit-lines">
                <li class='limit-line'>
                    <span class='limit-name'>Time limit (s)</span>
                    <span class='limit-value'>${Problem.TimeLimitSeconds}</span>
                </li>
                <li class='limit-line'>
                    <span class='limit-name'>Memory limit (MB)</span>
                    <span class='limit-value'>${Problem.MemoryLimitMB}</span>
                </li>
            </ul>
        </div>
    </div>

    ${if Problem.Description.HasNotes}
    <!-- Notes -->
    <div class="section">
        <h2 class="section-title">Notes</h2>
        <ul class="notes">
        ${foreach Problem.Description.Notes note}
            <li>${note}</li>
        ${end}
        </ul>
    </div>
    ${end}
    
    <!-- Constraints -->
    <div class="section">
        <h2 class="section-title">Constraints</h2>
        <ul class="constraints">
        ${foreach Problem.Description.Constraints cons}
            <li>${cons}</li>
        ${end}
        </ul>
    </div>

    <!-- Test cases -->
    <div class="section">
        <h2 class="section-title">Test cases</h2>
        <ol class="testcases" start='0'>
            ${foreach Examples e}
            <li class="testcase">
                <div class="testcase-content">
                    <div class="testcase-input">
                        <ul class="variables">
                        ${foreach e.Input in}
                            <li class="variable">
                                <span class="name"><span class='data'>${in.Param.Name}</span></span>
                                <span class="value"><span class='data'>
                                ${if Options.gridArrays}
                                    ${in;html(grid)}
                                ${else}
                                    ${in;html}
                                ${end}
                                </span></span>
                            </li>
                        ${end}
                        </ul>
                    </div>
                    <div class="testcase-output">
                        <span class="value data">
                        ${if Options.gridArrays}
                            ${e.Output;html(grid)}
                        ${else}
                            ${e.Output;html}
                        ${end}
                        </span>
                    </div>
                    ${if e.Annotation}
                    <div class="testcase-annotation">
                        <div class="testcase-comment">${e.Annotation}</div>
                    </div>
                    ${end}
               
                </div>
            </li>
            ${end}
        </ol>
    </div>
    <hr />

    This problem statement is the exclusive and proprietary property of TopCoder, Inc. Any unauthorized use or reproduction of this information without the prior written consent of TopCoder, Inc. is strictly prohibited. (c)2003, TopCoder, Inc. All rights reserved.
</body>
</html>
