body {
    /* font color */
    color: #CCCCCC;
    /* background color */
    background-color: #333333;
}
.section .section-title {
    /* title color */
    color: white;
}
li.testcase .data {
    /* highlight color */
    background: #303030;
}
