<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

	<style type="text/css">
		body { font-family: Helvetica, Arial, Verdana, sans-serif; }
		.heading { font-weight: bold; font-size: 28px; text-align: center; }
		.section { padding-top: 10px; }
		.section .section-title { font-weight: bold; font-size: 20px; color: grey; }
        .problem-intro { padding-left: 20px; }
        note, user-constraint { padding-left: 20px; }
		type {
			font-weight: bold;
			font-family: monospace;
		}
		img {
			float: none;
			display: block;
			width: 200px;
			height: auto;
			margin: 10px;
			border: 0px solid #ccc;
		}
		ul {
			list-style-type: none;
			padding: 0px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		ul.constraints li:before {
			content: "-";
			font-size: 16px;
			font-family: monospace;
			position:relative;
			margin-left: 0px; /* optional, for multiline li element */
			left: 10px;
		}
		ul.notes li:before {
			content: "~";
			font-size: 16px;
			font-family: monospace;
			font-weight: normal;
			position:relative;
			margin-left: 0px; /* optional, for multiline li element */
			left: 10px;
		}

		li.testcase {
			display: flex;
			line-height: 16px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		li.testcase div.testcase-no {
            min-width: 16px;
			width: 16px;
			height: 16px;
			font-size: 16px;
			line-height: 16px;
			padding: 8px;
			margin-right: 10px;
			border-radius: 100%;
			font-weight: bold;
			text-align: center;
			vertical-align: top;
			border: 2px solid #ddd;
			color: grey;
		}
		li.testcase span {
			vertical-align: middle; 
			text-align: center;
			height: 15px;
			line-height: 16px;
			min-width: 45px;
			border-radius: 5px;
			padding: 0px;
			padding-left: 5px;
			padding-right: 5px;
			margin-right: 10px;
			display: inline-block;
		}
		li.testcase > .testcase-content > div { padding-bottom: 8px; }
		li.testcase .tag {
			background: #545454;
			color: white;
			font-family: Georgia;
			font-size: 10px;
			text-align: center;
		}
		li.testcase .testcase-input .tag { visibility: hidden; }
		li.testcase .testcase-input .tag:first-child { visibility: visible; }
		li.testcase .data {
			background: #eee;
			font-family: monospace;
		}
        li.testcase .testcase-comment {
            margin: 0;
            padding-left: 5px;
        }
        .testcase-comment p:first-child { margin-top: 0; }
        .testcase-comment p:last-child { margin-bottom: 0; }
	</style>

    <title>Topcoder - ${Contest.Name} - Problem ${Problem.Score}</title>
</head>

<body>
	<div class="heading">
        ${Contest.Name} Div ${Contest.Div} - Problem ${Problem.Score} <br/>
        ${Problem.Name}
    </div>

	<hr/>

    <!-- Problem Statemnt -->
    <div class="section">
        <div class="section-title">Problem Statement</div>
        <div class="problem-intro">
            ${Problem.Description.Intro}
        </div>
    </div>

    <!-- Notes -->
    <div class="section">
        <div class="section-title">Notes</div>
        <ul class="notes">
        ${<foreach Problem.Description.Notes note}
            <li>${note}</li>
        ${<end}
        </ul>
    </div>

    <!-- Constraints -->
    <div class="section">
        <div class="section-title">Constraints</div>
        <ul class="constraints">
        ${<foreach Problem.Description.Constraints cons}
            <li>${cons}</li>
        ${<end}
        </ul>
    </div>

    <!-- Test cases -->
    <div class="section">
        <div class="section-title">Test cases</div>
        <ul class="testcases">
            ${<foreach Examples e}
            <li class="testcase">
                <div class="testcase-no">${e.Num}</div>
                <div class="testcase-content">
                    <div class="testcase-input">
                    ${if first_e}${end}
                    ${<foreach e.Input in}
                        <span class="tag">input</span>
                        <span class="data"><b>${in.Param.Name}</b>: ${in.Value}</span>
                        <br/>
                    ${<end}
                    </div>
                    <div>
                        <span class="tag">output</span>
                        <span class="data">${e.Output.Value}</span>
                    </div>
                    ${<if e.Annotation}
                    <div style="display: flex;">
                        <span class="tag">comment</span>
                        <div class="testcase-comment">${e.Annotation}</div>
                    </div>
                    ${<end}
                </div>
            </li>
            ${<end}
        </ul>
    </div>

    <hr>

    This problem statement is the exclusive and proprietary property of TopCoder, Inc. Any unauthorized use or reproduction of this information without the prior written consent of TopCoder, Inc. is strictly prohibited. (c)2003, TopCoder, Inc. All rights reserved.
</body>
</html>
